<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}"/>

    <!--使用zookeeper注册中心暴露服务地址-->
    <dubbo:registry address="${dubbo.registry.address}"></dubbo:registry>
    <!--<dubbo:registry address="${dubbo.registry.address}" register="false"></dubbo:registry>-->



    <!--使用协议暴露端口，例如：用dubbo协议在20880端口暴露服务-->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"></dubbo:protocol>

    <!--若server=servlet，则端口与servlet相同-->
    <!--<dubbo:protocol name="hessian" port="9016" server="servlet" contextpath="hessian" payload="10485760"/>-->
    <!--<dubbo:protocol name="hessian" port="${hessian.protocol.port}" contextpath="hessian" payload="10485760"/>-->


    <!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址 -->
    <dubbo:monitor protocol="${dubbo.monitor.protocol}"></dubbo:monitor>

    <!-- 当ProtocolConfig和ServiceConfig某属性没有配置时,采用此缺省值 -->
    <dubbo:provider timeout="10000" threadpool="fixed" threads="100" accepts="1000"/>


    <!--对外公布接口-->
    <!--测试服务-->
    <dubbo:service retries="0" interface="com.jzg.demo.transaction.tcc.stock.api.StockService" ref="stockService" version="1.0.0" protocol="dubbo"></dubbo:service>
    <dubbo:service retries="0" interface="com.jzg.demo.transaction.tcc.stock.api.ProductService" ref="productService" version="1.0.0" protocol="dubbo"></dubbo:service>

</beans>