<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--Cache-->
    <bean id="cacheAspect" class="com.jzg.framework.cache.aop.CacheAspect"></bean>
    <bean id="defaultCache" class="com.jzg.framework.cache.local.DefaultCacheProvider"></bean>
    <bean id="redisCache" class="com.jzg.framework.cache.redis.RedisCacheProvider"></bean>


    <!--redis start -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="maxTotal" value="${redis.maxTotal}" />
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
        <property name="testOnReturn" value="${redis.testOnReturn}" />
        <property name="testWhileIdle" value="${redis.testWhileIdle}" />
    </bean>
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool"  scope="singleton">
        <constructor-arg index="0" ref="jedisPoolConfig" />
        <constructor-arg index="1">
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.port}" />
                    <constructor-arg name="timeout" value="${redis.timeout}" />
                    <!--<property name="password" value="${redis.password}" />-->
                </bean>
            </list>
        </constructor-arg>
    </bean>
    <!--redis end-->

    <bean id="cacheManager" class="com.jzg.framework.cache.CacheManager">
        <constructor-arg name="cache" ref="defaultCache"></constructor-arg>
    </bean>

    <bean id="redisCacheManager" class="com.jzg.framework.cache.CacheManager">
        <constructor-arg name="cache" ref="redisCache"></constructor-arg>
    </bean>
</beans>