<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzg.demo.transaction.tcc.stock.dao.StockMapper">
  <resultMap id="BaseResultMap" type="com.jzg.demo.transaction.tcc.stock.model.Stock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="indate" jdbcType="TIMESTAMP" property="indate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `stock`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jzg.demo.transaction.tcc.stock.model.Stock">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `stock` (quantity, product_id, indate
      )
    values (#{quantity,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, #{indate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jzg.demo.transaction.tcc.stock.model.Stock">
    update `stock`
    set quantity = #{quantity,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      indate = #{indate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, quantity, product_id, indate
    from `stock`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, quantity, product_id, indate
    from `stock`
  </select>




  <update id="decrStock">
    update `stock`
    set quantity = quantity - #{quantity}
    where product_id = #{productId} and quantity >= #{quantity}
  </update>
  <update id="incrStock">
    update `stock`
    set quantity = quantity + #{quantity}
    where product_id = #{productId}
  </update>
</mapper>